nav {
    width: 100vw;
    height: 70px;
    display: grid;
    place-items: center;
    border-bottom: 2px solid grey;
    background: lightgrey;
    font-size: 30px;
    font-weight: 400;
    color: grey;
}

.warning {
    color: red;
    width: 500px;
    margin: 20px auto;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    background: rgb(244, 171, 171);
}