nav {
    width: 100vw;
    height: 70px;
    display: grid;
    place-items: center;
    border-bottom: 2px solid grey;
    background: lightgrey;
    font-size: 30px;
    font-weight: 400;
    color: grey;
}

.warning {
    color: red;
    width: 500px;
    margin: 20px auto;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    background: rgb(244, 171, 171);
}

.bottom {
    font-size: 60px;
    text-align: center;
    background: rgb(200, 126, 126);
    color: rgb(207, 60, 60);
    margin: 40px auto;
    width: 900px;
    padding: 50px;
    border-radius: 20px;
}

button {
    background: whitesmoke;
    color: rgb(201, 93, 93);
    border-radius: 5px;
    padding: 5px 20px;
    font-family: Monospace;
    border: none;
    font-weight: bolder;
    font-size: 20px;
    border: 1px solid red;
}